
{% block body %}
    <div class="row asaaa">
        <div class="post">

            <div class="row title">
                <h3>{{ post.title }}</h3>
            </div>
            <div class="row article">
                {{ post.article|nl2br }}
            </div>
            <div class="row spacing">&nbsp</div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
